In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows
pd.set_option('display.max_colwidth', None) # Prevent truncating column contents

In [3]:
abod = pd.read_parquet('data/ot_files/associationByOverallDirect/')
aboid = pd.read_parquet('data/ot_files/associationByOverallIndirect/')

abdsd = pd.read_parquet('data/ot_files/associationByDatasourceDirect')
abdsid = pd.read_parquet('data/ot_files/associationByDatasourceIndirect')

abdtd = pd.read_parquet('data/ot_files/associationByDatatypeDirect')
abdtid = pd.read_parquet('data/ot_files/associationByDatatypeIndirect')

In [8]:
# columns of abod, abdsd, abdtd
print(abod.columns)
print(abdsd.columns)
print(abdtd.columns)

Index(['diseaseId', 'targetId', 'score', 'evidenceCount'], dtype='object')
Index(['datatypeId', 'datasourceId', 'diseaseId', 'targetId', 'score',
       'evidenceCount'],
      dtype='object')
Index(['diseaseId', 'targetId', 'datatypeId', 'score', 'evidenceCount'], dtype='object')

In [4]:
# Shape of all the dataframes andcolumn names
print('abod.shape: ', abod.shape)
print('aboid.shape: ', aboid.shape)

print('abdsd: ', abdsd.shape)
print('abdsid: ', abdsid.shape)

print('abdtd: ', abdtd.shape)
print('abdtid: ', abdtid.shape)

abod.shape:  (2725301, 4)
aboid.shape:  (8154659, 4)
abdsd:  (2882629, 6)
abdsid:  (9933812, 6)
abdtd:  (2854155, 5)
abdtid:  (9592346, 5)

In [5]:
# Unique entries in target and disease columns of all the DF
print('abod: ', len(abod.targetId.unique()), len(aboid.targetId.unique()))
print('aboid: ', len(abod.diseaseId.unique()), len(aboid.diseaseId.unique()))

print('abdsd: ', len(abdsd.targetId.unique()), len(abdsid.targetId.unique()))
print('abdsid: ', len(abdsd.diseaseId.unique()), len(abdsid.diseaseId.unique()))

print('abdtd: ', len(abdtd.targetId.unique()), len(abdtid.targetId.unique()))
print('abdtid: ', len(abdtd.diseaseId.unique()), len(abdtid.diseaseId.unique()))

abod:  30315 30315
aboid:  17701 19087
abdsd:  30315 30315
abdsid:  17701 19087
abdtd:  30315 30315
abdtid:  17701 19087

In [6]:
comparision_abod = pd.concat([abod, aboid, aboid]).drop_duplicates(keep=False)
print('comparision_abod: ', comparision_abod.shape)
comparison_aboid = pd.concat([aboid, abod, abod]).drop_duplicates(keep=False)
print('comparison_aboid: ', comparison_aboid.shape)

comparison_abdsd = pd.concat([abdsd, abdsid, abdsid]).drop_duplicates(keep=False)
print('comparison_abdsd: ', comparison_abdsd.shape)
comparison_abdsid = pd.concat([abdsid, abdsd, abdsd]).drop_duplicates(keep=False)
print('comparison_abdsid: ', comparison_abdsid.shape)

comparison_abdtd = pd.concat([abdtd, abdtid, abdtid]).drop_duplicates(keep=False)
print('comparison_abdtd: ', comparison_abdtd.shape)
comparison_abdtid = pd.concat([abdtid, abdtd, abdtd]).drop_duplicates(keep=False)
print('comparison_abdtid: ', comparison_abdtid.shape)

comparision_abod:  (537676, 4)
comparison_aboid:  (5967034, 4)
comparison_abdsd:  (513256, 6)
comparison_abdsid:  (7564439, 6)
comparison_abdtd:  (515143, 5)
comparison_abdtid:  (7253334, 5)

In [7]:
abod_combined = pd.concat([abod, aboid]).drop_duplicates(keep=False)
print('abod_combined: ', abod_combined.shape)

abdsd_combined = pd.concat([abdsd, abdsid]).drop_duplicates(keep=False)
print('abdsd_combined: ', abdsd_combined.shape)

abdtd_combined = pd.concat([abdtd, abdtid]).drop_duplicates(keep=False)
print('abdtd_combined: ', abdtd_combined.shape)


# abod.shape:  (2725301, 4)
# aboid.shape:  (8154659, 4)
# abdsd:  (2882629, 6)
# abdsid:  (9933812, 6)
# abdtd:  (2854155, 5)
# abdtid:  (9592346, 5)

abod_combined:  (6504710, 4)
abdsd_combined:  (8077695, 6)
abdtd_combined:  (7768477, 5)

In [9]:
abod_abdsd = pd.concat([abod_combined, abdsd_combined, abdsd_combined]).drop_duplicates(subset=['diseaseId', 'targetId', 'score', 'evidenceCount'], keep=False)
abdsd_abod = pd.concat([abdsd_combined, abod_combined, abod_combined]).drop_duplicates(subset=['diseaseId', 'targetId', 'score', 'evidenceCount'], keep=False)

abod_abdtd = pd.concat([abod_combined, abdtd_combined, abdtd_combined]).drop_duplicates(subset=['diseaseId', 'targetId', 'score', 'evidenceCount'], keep=False)
abdtd_abod = pd.concat([abdtd_combined, abod_combined, abod_combined]).drop_duplicates(subset=['diseaseId', 'targetId', 'score', 'evidenceCount'], keep=False)

absd_abdtd = pd.concat([abdsd_combined, abdtd_combined, abdtd_combined]).drop_duplicates(subset=['diseaseId', 'targetId', 'score', 'evidenceCount'], keep=False)
abdtd_absd = pd.concat([abdtd_combined, abdsd_combined, abdsd_combined]).drop_duplicates(subset=['diseaseId', 'targetId', 'score', 'evidenceCount'], keep=False)

In [14]:
abod_abdsd.shape, abdsd_abod.shape, abod_abdtd.shape, abdtd_abod.shape, absd_abdtd.shape, abdtd_absd.shape

((6504710, 6),
 (7967753, 6),
 (6504710, 5),
 (7766963, 5),
 (348553, 6),
 (145169, 6))

In [13]:
abod_abdsd.head()

,diseaseId,targetId,score,evidenceCount,datatypeId,datasourceId
1,DOID_0050890,ENSG00000005381,0.002217,1,NaN,NaN
2,DOID_0050890,ENSG00000006128,0.002217,1,NaN,NaN
3,DOID_0050890,ENSG00000006210,0.004414,3,NaN,NaN
5,DOID_0050890,ENSG00000007171,0.009979,2,NaN,NaN
7,DOID_0050890,ENSG00000008056,0.006652,1,NaN,NaN